In [4]:
import pandas as pd

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['a','b','c'])

In [5]:
df2 = pd.DataFrame({
    "d":[11,12,13],
    "e":[14,15,16],
    "f":[17,18,19]
})

In [9]:
df2.iloc[:, 0:2]

    d   e
0  11  14
1  12  15
2  13  16

In [16]:
df.replace(100, 1, inplace=True)

In [35]:
df = pd.read_csv('indeks-standar-pencemar-udara-di-provinsi-dki-jakarta-bulan-januari-tahun-2021.csv')

In [36]:
df.columns

Index(['tanggal', 'pm10', 'so2', 'co', 'o3', 'no2', 'max', 'critical',
       'categori', 'location'],
      dtype='object')

In [39]:
df.drop('tanggal', axis=1)

    pm10  so2  co  o3  no2  max critical     categori location
0     43   58  29  35   65   65       O3       SEDANG     DKI2
1     58   86  38  64   80   86     PM25       SEDANG     DKI3
2     64   93  25  62   86   93     PM25       SEDANG     DKI3
3     50   67  24  31   77   77       O3       SEDANG     DKI2
4     59   89  24  35   77   89     PM25       SEDANG     DKI3
5     73   81  29  66   85   85       O3       SEDANG     DKI2
6     36   52  22  55   72   72       O3       SEDANG     DKI2
7     38   68  26  51   71   71       O3       SEDANG     DKI2
8     60   77  34  42   80   80       O3       SEDANG     DKI2
9     24   39  16  38   59   59       O3       SEDANG     DKI2
10    51   72  17  57   68   72     PM25       SEDANG     DKI3
11    29   58  20  44   77   77       O3       SEDANG     DKI2
12    36   47  17  32   68   68       O3       SEDANG     DKI2
13    36   78  20  38   65   78     PM25       SEDANG     DKI3
14    52   82  20  56   65   82     PM25       SEDANG     DKI3
15    70   92  19  38   67   92     PM25       SEDANG     DKI3
16    58   86  22  41   93   93       O3       SEDANG     DKI2
17    51   64  21  37   78   78       O3       SEDANG     DKI2
18    42   56  19  35   58   58       O3       SEDANG     DKI2
19    54   45  17  33   72   72       O3       SEDANG     DKI2
20    63   51  21  38   67   67       O3       SEDANG     DKI2
21    84  112  32  54   67  112     PM25  TIDAK SEHAT     DKI3
22    89  126  47  61  104  126     PM25  TIDAK SEHAT     DKI3
23    64   90  19  31   75   90     PM25       SEDANG     DKI3
24    62   95  29  67  134  134       O3  TIDAK SEHAT     DKI2
25    57   79  34  39   71   79     PM25       SEDANG     DKI3
26    33   37  25  20   63   63       O3       SEDANG     DKI2
27    28   49  25  28   53   53       O3       SEDANG     DKI2
28    30   53  26  36   65   65       O3       SEDANG     DKI2
29    46   39  25  32   64   64       O3       SEDANG     DKI2
30    41   55  24  29   68   68       O3       SEDANG     DKI2

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   31 non-null     object
 1   pm10      31 non-null     int64
 2   so2       31 non-null     int64
 3   co        31 non-null     int64
 4   o3        31 non-null     int64
 5   no2       31 non-null     int64
 6   max       31 non-null     int64
 7   critical  31 non-null     object
 8   categori  31 non-null     object
 9   location  31 non-null     object
dtypes: int64(6), object(4)
memory usage: 2.5+ KB

      tanggal  pm10  so2  co  o3  no2  max critical     categori location
21  1/22/2021    84  112  32  54   67  112     PM25  TIDAK SEHAT     DKI3
22  1/23/2021    89  126  47  61  104  126     PM25  TIDAK SEHAT     DKI3
24  1/25/2021    62   95  29  67  134  134       O3  TIDAK SEHAT     DKI2

In [51]:
df.nunique()

tanggal     31
pm10        26
so2         28
co          14
o3          24
no2         19
max         24
critical     2
categori     2
location     2
dtype: int64