## Membuat DataFrame

In [3]:
import pandas as pd

In [103]:
# Menggunakan Dictionary
df_buatan_sendiri = pd.DataFrame({
    "a": [1,2,3],
    "b": [4,5,6],
    "c": [7,8,9]
})

In [17]:
df_buatan_sendiri.to_csv("dataframe_buatan_sendiri.csv")

In [7]:
# Menggunakan List dua dimensi, disertai arg columns 
df = pd.DataFrame([
    [11,12,13],
    [14,15,16],
    [17,18,19]
], columns=["satu", "dua", "tiga"])

In [11]:
# Import file lokal
df = pd.read_csv('indeks-standar-pencemar-udara-di-provinsi-dki-jakarta-bulan-januari-tahun-2021.csv')

In [10]:
df

      tanggal  pm10  so2  co  o3  no2  max critical     categori location
0    1/1/2021    43   58  29  35   65   65       O3       SEDANG     DKI2
1    1/2/2021    58   86  38  64   80   86     PM25       SEDANG     DKI3
2    1/3/2021    64   93  25  62   86   93     PM25       SEDANG     DKI3
3    1/4/2021    50   67  24  31   77   77       O3       SEDANG     DKI2
4    1/5/2021    59   89  24  35   77   89     PM25       SEDANG     DKI3
5    1/6/2021    73   81  29  66   85   85       O3       SEDANG     DKI2
6    1/7/2021    36   52  22  55   72   72       O3       SEDANG     DKI2
7    1/8/2021    38   68  26  51   71   71       O3       SEDANG     DKI2
8    1/9/2021    60   77  34  42   80   80       O3       SEDANG     DKI2
9   1/10/2021    24   39  16  38   59   59       O3       SEDANG     DKI2
10  1/11/2021    51   72  17  57   68   72     PM25       SEDANG     DKI3
11  1/12/2021    29   58  20  44   77   77       O3       SEDANG     DKI2
12  1/13/2021    36   47  17  32   68   68       O3       SEDANG     DKI2
13  1/14/2021    36   78  20  38   65   78     PM25       SEDANG     DKI3
14  1/15/2021    52   82  20  56   65   82     PM25       SEDANG     DKI3
15  1/16/2021    70   92  19  38   67   92     PM25       SEDANG     DKI3
16  1/17/2021    58   86  22  41   93   93       O3       SEDANG     DKI2
17  1/18/2021    51   64  21  37   78   78       O3       SEDANG     DKI2
18  1/19/2021    42   56  19  35   58   58       O3       SEDANG     DKI2
19  1/20/2021    54   45  17  33   72   72       O3       SEDANG     DKI2
20  1/21/2021    63   51  21  38   67   67       O3       SEDANG     DKI2
21  1/22/2021    84  112  32  54   67  112     PM25  TIDAK SEHAT     DKI3
22  1/23/2021    89  126  47  61  104  126     PM25  TIDAK SEHAT     DKI3
23  1/24/2021    64   90  19  31   75   90     PM25       SEDANG     DKI3
24  1/25/2021    62   95  29  67  134  134       O3  TIDAK SEHAT     DKI2
25  1/26/2021    57   79  34  39   71   79     PM25       SEDANG     DKI3
26  1/27/2021    33   37  25  20   63   63       O3       SEDANG     DKI2
27  1/28/2021    28   49  25  28   53   53       O3       SEDANG     DKI2
28  1/29/2021    30   53  26  36   65   65       O3       SEDANG     DKI2
29  1/30/2021    46   39  25  32   64   64       O3       SEDANG     DKI2
30  1/31/2021    41   55  24  29   68   68       O3       SEDANG     DKI2

In [12]:
# Akses file dari internet
df2 = pd.read_csv("https://raw.githubusercontent.com/rasyidev/well-known-datasets/main/indeks-standar-pencemar-udara-di-provinsi-dki-jakarta-bulan-januari-tahun-2021.csv")

In [13]:
df2

      tanggal  pm10  so2  co  o3  no2  max critical     categori location
0    1/1/2021    43   58  29  35   65   65       O3       SEDANG     DKI2
1    1/2/2021    58   86  38  64   80   86     PM25       SEDANG     DKI3
2    1/3/2021    64   93  25  62   86   93     PM25       SEDANG     DKI3
3    1/4/2021    50   67  24  31   77   77       O3       SEDANG     DKI2
4    1/5/2021    59   89  24  35   77   89     PM25       SEDANG     DKI3
5    1/6/2021    73   81  29  66   85   85       O3       SEDANG     DKI2
6    1/7/2021    36   52  22  55   72   72       O3       SEDANG     DKI2
7    1/8/2021    38   68  26  51   71   71       O3       SEDANG     DKI2
8    1/9/2021    60   77  34  42   80   80       O3       SEDANG     DKI2
9   1/10/2021    24   39  16  38   59   59       O3       SEDANG     DKI2
10  1/11/2021    51   72  17  57   68   72     PM25       SEDANG     DKI3
11  1/12/2021    29   58  20  44   77   77       O3       SEDANG     DKI2
12  1/13/2021    36   47  17  32   68   68       O3       SEDANG     DKI2
13  1/14/2021    36   78  20  38   65   78     PM25       SEDANG     DKI3
14  1/15/2021    52   82  20  56   65   82     PM25       SEDANG     DKI3
15  1/16/2021    70   92  19  38   67   92     PM25       SEDANG     DKI3
16  1/17/2021    58   86  22  41   93   93       O3       SEDANG     DKI2
17  1/18/2021    51   64  21  37   78   78       O3       SEDANG     DKI2
18  1/19/2021    42   56  19  35   58   58       O3       SEDANG     DKI2
19  1/20/2021    54   45  17  33   72   72       O3       SEDANG     DKI2
20  1/21/2021    63   51  21  38   67   67       O3       SEDANG     DKI2
21  1/22/2021    84  112  32  54   67  112     PM25  TIDAK SEHAT     DKI3
22  1/23/2021    89  126  47  61  104  126     PM25  TIDAK SEHAT     DKI3
23  1/24/2021    64   90  19  31   75   90     PM25       SEDANG     DKI3
24  1/25/2021    62   95  29  67  134  134       O3  TIDAK SEHAT     DKI2
25  1/26/2021    57   79  34  39   71   79     PM25       SEDANG     DKI3
26  1/27/2021    33   37  25  20   63   63       O3       SEDANG     DKI2
27  1/28/2021    28   49  25  28   53   53       O3       SEDANG     DKI2
28  1/29/2021    30   53  26  36   65   65       O3       SEDANG     DKI2
29  1/30/2021    46   39  25  32   64   64       O3       SEDANG     DKI2
30  1/31/2021    41   55  24  29   68   68       O3       SEDANG     DKI2

In [ ]:
df_buatan_sendiri = pd.DataFrame({
    "a": [1,2,3],
    "b": [4,5,6],
    "c": [7,8,9]
})

# export dataframe menjadi file .csv
df_buatan_sendiri.to_csv("dataframe_buatan_sendiri.csv")

## Fungsi / method DataFrame

In [18]:
# Menampilkan 5 data pertama
df.head()

    tanggal  pm10  so2  co  o3  no2  max critical categori location
0  1/1/2021    43   58  29  35   65   65       O3   SEDANG     DKI2
1  1/2/2021    58   86  38  64   80   86     PM25   SEDANG     DKI3
2  1/3/2021    64   93  25  62   86   93     PM25   SEDANG     DKI3
3  1/4/2021    50   67  24  31   77   77       O3   SEDANG     DKI2
4  1/5/2021    59   89  24  35   77   89     PM25   SEDANG     DKI3

In [19]:
# Menampilkan 5 data terakhir
df.tail()

      tanggal  pm10  so2  co  o3  no2  max critical categori location
26  1/27/2021    33   37  25  20   63   63       O3   SEDANG     DKI2
27  1/28/2021    28   49  25  28   53   53       O3   SEDANG     DKI2
28  1/29/2021    30   53  26  36   65   65       O3   SEDANG     DKI2
29  1/30/2021    46   39  25  32   64   64       O3   SEDANG     DKI2
30  1/31/2021    41   55  24  29   68   68       O3   SEDANG     DKI2

In [63]:
df.pm10.mean()

51.0

In [64]:
df.pm10.median()

51.0

In [65]:
df.location.mode()

0    DKI2
Name: location, dtype: object

In [66]:
df.location.value_counts()

DKI2    20
DKI3    11
Name: location, dtype: int64

In [23]:
# Mencetak ukuran DataFrame
# Format: (jumlah baris, jumlah kolom)
df.shape

(31, 10)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   31 non-null     object
 1   pm10      31 non-null     int64
 2   so2       31 non-null     int64
 3   co        31 non-null     int64
 4   o3        31 non-null     int64
 5   no2       31 non-null     int64
 6   max       31 non-null     int64
 7   critical  31 non-null     object
 8   categori  31 non-null     object
 9   location  31 non-null     object
dtypes: int64(6), object(4)
memory usage: 2.5+ KB

In [27]:
# Mencetak frekuensi suatu kolom
df.critical.value_counts()

O3      20
PM25    11
Name: critical, dtype: int64

In [28]:
df.nunique()

tanggal     31
pm10        26
so2         28
co          14
o3          24
no2         19
max         24
critical     2
categori     2
location     2
dtype: int64

In [30]:
df.describe()

           pm10         so2         co         o3         no2         max
count  31.00000   31.000000  31.000000  31.000000   31.000000   31.000000
mean   51.00000   70.193548  24.709677  42.741935   74.000000   79.612903
std    16.21933   22.068710   6.880860  12.782717   15.264338   18.425847
min    24.00000   37.000000  16.000000  20.000000   53.000000   53.000000
25%    37.00000   52.500000  20.000000  34.000000   65.000000   67.500000
50%    51.00000   68.000000  24.000000  38.000000   71.000000   77.000000
75%    61.00000   86.000000  27.500000  54.500000   77.500000   87.500000
max    89.00000  126.000000  47.000000  67.000000  134.000000  134.000000

In [31]:
df.no2.unique()

array([ 65,  80,  86,  77,  85,  72,  71,  59,  68,  67,  93,  78,  58,
       104,  75, 134,  63,  53,  64], dtype=int64)

In [32]:
df.categori.unique()

array(['SEDANG', 'TIDAK SEHAT'], dtype=object)

---
## Slicing DataFrame

In [39]:
df.head()

    tanggal  pm10  so2  co  o3  no2  max critical categori location
0  1/1/2021    43   58  29  35   65   65       O3   SEDANG     DKI2
1  1/2/2021    58   86  38  64   80   86     PM25   SEDANG     DKI3
2  1/3/2021    64   93  25  62   86   93     PM25   SEDANG     DKI3
3  1/4/2021    50   67  24  31   77   77       O3   SEDANG     DKI2
4  1/5/2021    59   89  24  35   77   89     PM25   SEDANG     DKI3

In [36]:
# Menampilkan beberapa kolom pilihan
df[['pm10', 'so2', 'categori']].head()

   pm10  so2 categori
0    43   58   SEDANG
1    58   86   SEDANG
2    64   93   SEDANG
3    50   67   SEDANG
4    59   89   SEDANG

In [37]:
# Menampilkan beberapa kolom pilihan serta mengambil baris tertentu.
df[['pm10', 'so2', 'categori']][4:11]

    pm10  so2 categori
4     59   89   SEDANG
5     73   81   SEDANG
6     36   52   SEDANG
7     38   68   SEDANG
8     60   77   SEDANG
9     24   39   SEDANG
10    51   72   SEDANG

### .loc dan .iloc
 **FORMAT** 
 
 ```python
     df.loc[baris, kolom] # index berupa string
     df.iloc[baris, kolom] # index berupa int (dari 0)
 ```
 ```
 awal:akhir
 ```

In [46]:
df.iloc[1, [1,3,5]]

pm10    58
co      38
no2     80
Name: 1, dtype: object

In [43]:
df.iloc[0, 1]

43

In [52]:
df.loc[1:2, 'so2':'max']

   so2  co  o3  no2  max
1   86  38  64   80   86
2   93  25  62   86   93

In [53]:
df.loc[4, 'critical':'location']

critical      PM25
categori    SEDANG
location      DKI3
Name: 4, dtype: object

In [55]:
df.iloc[4, 7:]

critical      PM25
categori    SEDANG
location      DKI3
Name: 4, dtype: object

In [56]:
df3 = pd.read_csv("https://raw.githubusercontent.com/rasyidev/well-known-datasets/main/indeks-standar-pencemar-udara-di-provinsi-dki-jakarta-bulan-januari-tahun-2021.csv", index_col='tanggal')

In [57]:
df3

           pm10  so2  co  o3  no2  max critical     categori location
tanggal
1/1/2021     43   58  29  35   65   65       O3       SEDANG     DKI2
1/2/2021     58   86  38  64   80   86     PM25       SEDANG     DKI3
1/3/2021     64   93  25  62   86   93     PM25       SEDANG     DKI3
1/4/2021     50   67  24  31   77   77       O3       SEDANG     DKI2
1/5/2021     59   89  24  35   77   89     PM25       SEDANG     DKI3
1/6/2021     73   81  29  66   85   85       O3       SEDANG     DKI2
1/7/2021     36   52  22  55   72   72       O3       SEDANG     DKI2
1/8/2021     38   68  26  51   71   71       O3       SEDANG     DKI2
1/9/2021     60   77  34  42   80   80       O3       SEDANG     DKI2
1/10/2021    24   39  16  38   59   59       O3       SEDANG     DKI2
1/11/2021    51   72  17  57   68   72     PM25       SEDANG     DKI3
1/12/2021    29   58  20  44   77   77       O3       SEDANG     DKI2
1/13/2021    36   47  17  32   68   68       O3       SEDANG     DKI2
1/14/2021    36   78  20  38   65   78     PM25       SEDANG     DKI3
1/15/2021    52   82  20  56   65   82     PM25       SEDANG     DKI3
1/16/2021    70   92  19  38   67   92     PM25       SEDANG     DKI3
1/17/2021    58   86  22  41   93   93       O3       SEDANG     DKI2
1/18/2021    51   64  21  37   78   78       O3       SEDANG     DKI2
1/19/2021    42   56  19  35   58   58       O3       SEDANG     DKI2
1/20/2021    54   45  17  33   72   72       O3       SEDANG     DKI2
1/21/2021    63   51  21  38   67   67       O3       SEDANG     DKI2
1/22/2021    84  112  32  54   67  112     PM25  TIDAK SEHAT     DKI3
1/23/2021    89  126  47  61  104  126     PM25  TIDAK SEHAT     DKI3
1/24/2021    64   90  19  31   75   90     PM25       SEDANG     DKI3
1/25/2021    62   95  29  67  134  134       O3  TIDAK SEHAT     DKI2
1/26/2021    57   79  34  39   71   79     PM25       SEDANG     DKI3
1/27/2021    33   37  25  20   63   63       O3       SEDANG     DKI2
1/28/2021    28   49  25  28   53   53       O3       SEDANG     DKI2
1/29/2021    30   53  26  36   65   65       O3       SEDANG     DKI2
1/30/2021    46   39  25  32   64   64       O3       SEDANG     DKI2
1/31/2021    41   55  24  29   68   68       O3       SEDANG     DKI2

In [58]:
df3.loc['1/5/2021':'1/6/2021', 'max':'location']

          max critical categori location
tanggal
1/5/2021   89     PM25   SEDANG     DKI3
1/6/2021   85       O3   SEDANG     DKI2

---
## Filtering DataFrame

In [60]:
df.head()

    tanggal  pm10  so2  co  o3  no2  max critical categori location
0  1/1/2021    43   58  29  35   65   65       O3   SEDANG     DKI2
1  1/2/2021    58   86  38  64   80   86     PM25   SEDANG     DKI3
2  1/3/2021    64   93  25  62   86   93     PM25   SEDANG     DKI3
3  1/4/2021    50   67  24  31   77   77       O3   SEDANG     DKI2
4  1/5/2021    59   89  24  35   77   89     PM25   SEDANG     DKI3

In [61]:
df[df['max'] >= 80]

      tanggal  pm10  so2  co  o3  no2  max critical     categori location
1    1/2/2021    58   86  38  64   80   86     PM25       SEDANG     DKI3
2    1/3/2021    64   93  25  62   86   93     PM25       SEDANG     DKI3
4    1/5/2021    59   89  24  35   77   89     PM25       SEDANG     DKI3
5    1/6/2021    73   81  29  66   85   85       O3       SEDANG     DKI2
8    1/9/2021    60   77  34  42   80   80       O3       SEDANG     DKI2
14  1/15/2021    52   82  20  56   65   82     PM25       SEDANG     DKI3
15  1/16/2021    70   92  19  38   67   92     PM25       SEDANG     DKI3
16  1/17/2021    58   86  22  41   93   93       O3       SEDANG     DKI2
21  1/22/2021    84  112  32  54   67  112     PM25  TIDAK SEHAT     DKI3
22  1/23/2021    89  126  47  61  104  126     PM25  TIDAK SEHAT     DKI3
23  1/24/2021    64   90  19  31   75   90     PM25       SEDANG     DKI3
24  1/25/2021    62   95  29  67  134  134       O3  TIDAK SEHAT     DKI2

In [67]:
df[df.categori == 'TIDAK SEHAT']

      tanggal  pm10  so2  co  o3  no2  max critical     categori location
21  1/22/2021    84  112  32  54   67  112     PM25  TIDAK SEHAT     DKI3
22  1/23/2021    89  126  47  61  104  126     PM25  TIDAK SEHAT     DKI3
24  1/25/2021    62   95  29  67  134  134       O3  TIDAK SEHAT     DKI2

In [97]:
df[(df.categori== 'SEDANG') & (df['max'] > 90)]

      tanggal  pm10  so2  co  o3  no2  max critical     categori location
0    1/1/2021    43   58  29  35   65   65       O3       SEDANG     DKI2
1    1/2/2021    58   86  38  64   80   86     PM25       SEDANG     DKI3
2    1/3/2021    64   93  25  62   86   93     PM25       SEDANG     DKI3
3    1/4/2021    50   67  24  31   77   77       O3       SEDANG     DKI2
4    1/5/2021    59   89  24  35   77   89     PM25       SEDANG     DKI3
5    1/6/2021    73   81  29  66   85   85       O3       SEDANG     DKI2
6    1/7/2021    36   52  22  55   72   72       O3       SEDANG     DKI2
7    1/8/2021    38   68  26  51   71   71       O3       SEDANG     DKI2
8    1/9/2021    60   77  34  42   80   80       O3       SEDANG     DKI2
9   1/10/2021    24   39  16  38   59   59       O3       SEDANG     DKI2
10  1/11/2021    51   72  17  57   68   72     PM25       SEDANG     DKI3
11  1/12/2021    29   58  20  44   77   77       O3       SEDANG     DKI2
12  1/13/2021    36   47  17  32   68   68       O3       SEDANG     DKI2
13  1/14/2021    36   78  20  38   65   78     PM25       SEDANG     DKI3
14  1/15/2021    52   82  20  56   65   82     PM25       SEDANG     DKI3
15  1/16/2021    70   92  19  38   67   92     PM25       SEDANG     DKI3
16  1/17/2021    58   86  22  41   93   93       O3       SEDANG     DKI2
17  1/18/2021    51   64  21  37   78   78       O3       SEDANG     DKI2
18  1/19/2021    42   56  19  35   58   58       O3       SEDANG     DKI2
19  1/20/2021    54   45  17  33   72   72       O3       SEDANG     DKI2
20  1/21/2021    63   51  21  38   67   67       O3       SEDANG     DKI2
21  1/22/2021    84  112  32  54   67  112     PM25  TIDAK SEHAT     DKI3
22  1/23/2021    89  126  47  61  104  126     PM25  TIDAK SEHAT     DKI3
23  1/24/2021    64   90  19  31   75   90     PM25       SEDANG     DKI3
24  1/25/2021    62   95  29  67  134  134       O3  TIDAK SEHAT     DKI2
25  1/26/2021    57   79  34  39   71   79     PM25       SEDANG     DKI3
26  1/27/2021    33   37  25  20   63   63       O3       SEDANG     DKI2
27  1/28/2021    28   49  25  28   53   53       O3       SEDANG     DKI2
28  1/29/2021    30   53  26  36   65   65       O3       SEDANG     DKI2
29  1/30/2021    46   39  25  32   64   64       O3       SEDANG     DKI2
30  1/31/2021    41   55  24  29   68   68       O3       SEDANG     DKI2

---
## Grouping
Menggabungkan berdasarkan data kategorikal sekaligus mengoperasikan fungsi matematika.

In [101]:
df.groupby('critical').median()

          pm10   so2    co    o3   no2   max
critical
O3        42.5  55.5  24.0  36.5  69.5  69.5
PM25      59.0  89.0  24.0  54.0  71.0  89.0

In [104]:
df_buatan_sendiri

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [105]:
df_buatan_sendiri['d'] = [12,13,14]

In [106]:
df_buatan_sendiri

   a  b  c   d
0  1  4  7  12
1  2  5  8  13
2  3  6  9  14

In [113]:
# axis 0: baris
# axis 1: kolom
# inplace = True (default: False): replace DataFrame dengan operasi tertentu
df_buatan_sendiri.drop('d', axis=1, inplace=True)

In [114]:
df_buatan_sendiri

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [115]:
df_baru = pd.DataFrame({
    "a": [11,12,13],
    "b": [14,15,16],
    "c": [17,18,19]
})

In [116]:
# Gabung data vertikal
pd.concat([df_buatan_sendiri, df_baru], axis=0)

    a   b   c
0   1   4   7
1   2   5   8
2   3   6   9
0  11  14  17
1  12  15  18
2  13  16  19

In [117]:
# Gabung data horizontal
pd.concat([df_buatan_sendiri, df_baru], axis=1)

   a  b  c   a   b   c
0  1  4  7  11  14  17
1  2  5  8  12  15  18
2  3  6  9  13  16  19